registry=https://d3v-npm.pkg.coding.net/infra/npm/
always-auth=true
//d3v-npm.pkg.coding.net/infra/npm/:username=npm-1720685668785
//d3v-npm.pkg.coding.net/infra/npm/:_password=N2Q1OTk5YTY5YjZmNDBhMGU5Nzg0YTg4MzY0OGY2OTIxZTBhNGFiYg==
//d3v-npm.pkg.coding.net/infra/npm/:email=r0y4d3v@outlook.com
